@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 100%;
  max-height: 100%;
}
header {
  width: 100%;
  background-color: #fff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}
h1,
h2,
h3,
p {
  font-family: 'Poppins', sans-serif;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
}

div .logo {
  position: relative;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  font-family: 'Poppins', sans-serif;
}

div ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

div ul li {
  position: relative;
  list-style: none;
}

div ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
  font-size: 22px;
}

header.sticky .logo,
header.sticky ul li a {
  color: #564fcc;
}

.img img {
  position: absolute;
  width: 45%;
  max-width: 100%;
  height: 60%;
  max-height: 100%;
  left: 49%;
  top: 25%;
}

.title-header h1 {
  font-size: 50px;
  position: absolute;
  width: 40%;
  top: 350px;
  left: 145px;
  color: #fec63e;
}

.title-header p {
  position: absolute;
  display: flex;
  width: 40%;
  top: 430px;
  left: 150px;
}

main {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: 50%;
}

.div-projeto img {
  position: relative;
  width: 25vw;
  height: 80vh;
  left: 55%;
  top: -154px;
  clip-path: inset(0 0 247px 0);
}

.div-projeto-2 img {
  position: relative;
  width: 25vw;
  height: 52vh;
  left: 55%;
  top: 32px;
  clip-path: inset(0 0 33px 0);
}

.div-projeto-3 img {
  position: relative;
  width: 50%;
  height: 70%;
  left: 47%;
  top: -75px;
}

main .div-projeto h2 {
  position: relative;
  top: 120px;
  left: 40px;
  color: #fec63e;
}
main .div-projeto-2 h2 {
  position: relative;
  top: -300px;
  left: 40px;
  color: #564fcc;
}
main .div-projeto-3 h2 {
  position: relative;
  top: 100px;
  left: 40px;
  color: red;
}

main .div-projeto p {
  position: relative;
  top: 145px;
  left: 40px;
  width: 250px;
  color: #fff;
}

main .div-projeto-2 p {
  position: relative;
  top: -270px;
  left: 40px;
  width: 300px;
  color: #fff;
}
main .div-projeto-3 p {
  position: relative;
  top: 130px;
  left: 40px;
  width: 300px;
  color: #fff;
}

main .div-projeto {
  width: 75%;
  height: 400px;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  background: -webkit-linear-gradient(-35deg, #000 50%, #fec63e 50%);
  border-radius: 10px;
}

main .div-projeto-2 {
  width: 75%;
  height: 400px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 100%;
  max-height: 100%;
  background: -webkit-linear-gradient(35deg, #000 50%, #564fcc 50%);
  border-radius: 10px;
}

main .div-projeto-3 {
  width: 75%;
  height: 400px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background: -webkit-linear-gradient(left, black 49.8%, red 50%);
}

/* sobre */

.sobre-conteiner {
  width: 100%;
  height: 120vh;
  background-color: #fff;
  margin-top: 160px;
}

.sobre {
  position: relative;
  width: 50%;
  height: 30%;
  margin: 0;
  background-color: #564fcc;
  border-radius: 0 10px 10px 0;
}

.sobre h2 {
  position: relative;
  width: 50%;
  top: 35px;
  left: 22.5%;
  color: #000b49;
}

.sobre p {
  position: absolute;
  width: 65%;
  height: -10%;
  margin: 20px;
  text-align: center;
  top: 60px;
  left: 8%;
}

.sobre img {
  position: absolute;
  width: 350px;
  max-width: 100%;
  height: 60%;
  max-height: 100%;
  left: 49%;
  top: 5%;
}

.sobre:nth-child(2) {
  position: relative;
  width: 50%;
  height: 30%;
  margin: 30px;
  left: 47.9%;
  background-color: #f90716;
  border-radius: 10px 0 0 10px;
}

.sobre:nth-child(3) {
  position: relative;
  width: 50%;
  height: 30%;
  margin: 30px 0 0 0;
  background-color: #fec63e;
}

.img-sobre {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 650px;
}

.img-sobre2 {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  right: 950px;
}
/* footer */

.footer-conteiner {
  width: 100%;
  height: 30vh;
  background-color: #fec63e;
  max-height: 100%;
  max-width: 100%;
}
.footer-conteiner h3 {
  width: 50%;
  position: relative;
  font-size: 26px;
  top: 30px;
  left: 45.5%;
}

.footer-conteiner a {
  position: relative;
  margin: 30px;
  font-size: 20px;
  top: 70px;
  left: 35%;
  text-decoration: none;
}

/* anima ao scroll  */
/* 
[data-anime] {
  opacity: 0;
  transition: 0.3s;
}

[data-anime='left'] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime='right'] {
  transform: translate3d(50px, 0, 0);
}

[data-anime='top'] {
  transform: translate3d(0, -50px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
} */
